<a href="https://colab.research.google.com/github/PandukaBandara99/ML-Books/blob/main/Python_Handbook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Mahela Panduka Bandara ; <br> UG @ Dpt. of Electronic & Electrical Engineering ;<br> University of Peradeniya ;<br> 2023/03 <br><br> Email : e19039@end.pdn.ac.lk <br> LinkedIN : https://www.linkedin.com/in/pandukabandara/

# **1.0 Python Concepts**

## 1.1 Variables

### Rules for Python variables:

- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (age, Age and AGE are three different variables)
- A variable name cannot be any of the Python keywords.

### Assignment and Unpacking

Many Values to Multiple Variables

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

One Value to Multiple Variables

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

Unpack a Collection

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

### Output Variables

Can use the + operator to output multiple variables:
> For numbers it acts as a operator

In [ ]:
x = 10
y = 12
z = 4
print(x + y + z)

26

> For strings it adds with mid spaces.

In [ ]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

> When present both numbers need to be converted

In [ ]:
x = "Python "
y = "is "
z = 10
print(x + y + str(z))

Python is 10

### Global Variables

If you create a variable with the same name inside a function, the variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

Use the ```global``` keyword if you want to change a global variable inside a function.

In [ ]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

## 1.2 Data Types

| Type         | Example Code                 | Important Facts                                                                                    |
|--------------|------------------------------|----------------------------------------------------------------------------------------------------|
| int          | `x = 5`                      | - Represents whole numbers                                                                           |
| float        | `x = 3.14`                   | - Represents floating-point numbers; approximation of real numbers                                    |
| complex      | `x = 2 + 3j`                 | - Represents complex numbers with real and imaginary parts                                            |
| str          | `x = 'hello'`                | - Immutable; ordered collection of characters                                                         |
| bool         | `x = True`                   | - Represents truth values (True or False)                                                             |
| list         | `x = [1, 2, 3]`              | - Mutable; ordered collection of elements; supports heterogeneous data                                |
| tuple        | `x = (1, 2, 3)`              | - Immutable; ordered collection of elements; supports heterogeneous data                               |
| set          | `x = {1, 2, 3}`              | - Mutable; unordered collection of unique elements                                                    |
| dict         | `x = {'a': 1, 'b': 2}`       | - Mutable; collection of key-value pairs; keys are unique and immutable                                |
| bytes        | `x = b'hello'`               | - Immutable sequence of bytes                                                                        |
| bytearray   | `x = bytearray(b'hello')`    | - Mutable sequence of bytes                                                                          |
| memoryview   | `x = memoryview(bytes(5))`   | - Represents memory view of an object; allows access to the object’s memory without copying          |
| NoneType     | `x = None`                   | - Represents absence of value; used to signify the lack of a return value                              |
| range        | `x = range(5)`               | - Immutable sequence of numbers from 0 to specified value                                              |
| frozenset    | `x = frozenset({1, 2, 3})`   | - Immutable version of set; elements cannot be changed after creation                                  |
| complex      | `x = 2 + 3j`                 | - Represents complex numbers with real and imaginary parts                                            |

### Mutable and Immutable

#### Mutable Data Types:

 > Content can be updated without creating a new object


Mutable data types are those whose values can be changed after they are created. This means that you can modify the contents of the object without changing its identity.

Examples of mutable data types in Python include:
- Lists
- Dictionaries
- Sets
- Byte arrays

#### Immutable Data Types:

 > Fixed.Content cannot be updated without creating a new object

Immutable data types, on the other hand, are those whose values cannot be changed after they are created. If you need to change the value of an immutable object, you have to create a new object with the new value.

Examples of immutable data types in Python include:
- Integers
- Floats
- Strings
- Tuples
- Frozensets

### Variable Casting

In [ ]:
#-------------------------------
x = int(1)        # x will be 1
y = int(2.8)      # y will be 2
z = int("3")      # z will be 3
#-------------------------------
x = float(1)      # x will be 1.0
y = float(2.8)    # y will be 2.8
z = float("3")    # z will be 3.0
w = float("4.2")  # w will be 4.2
#-------------------------------
x = str("s1")     # x will be 's1'
y = str(2)        # y will be '2'
z = str(3.0)      # z will be '3.0'

### Strings

Python does not have a character data type, a single character is simply a string with a length of 1.Square brackets can be used to access elements of the string

In [ ]:
a = "Hello, World!"
print(a[1])

e

#### Loop through elements

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

#### Get the length

In [ ]:
a = "Hello, World!"
print(len(a))

13

#### Check String

In [ ]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

#### Slicing

In [ ]:
b = "Hello, World!"
print(b[2:5])   # With 2 and without 5

llo

In [ ]:
print(b[2:])   # Slice to the end

llo, World!

In [ ]:
print(b[-5:-2]) # Negetive indexing

orl

#### Concatenation

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)
## Use join() method to join with spaces

HelloWorld

#### **Format**

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))
## If indexing is not used {} => uses the mentioned order

I want to pay 49.95 dollars for 3 pieces of item 567.

To roundoff the numbers,

In [ ]:
# Formatting a floating-point number to 2 decimal places
number = 3.14159
formatted_number = "{:.2f}".format(number)
print("Formatted number:", formatted_number)  # Output: Formatted number: 3.14

Formatted number: 3.14

Also named indexes can be used.

In [ ]:
myorder = "I have a {carname}, it is a {model}."
print(myorder.format(carname = "Ford", model = "Mustang"))

I have a Ford, it is a Mustang.

#### Use of escape characters

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."


| Escape Sequence | Description                                      |
|-----------------|--------------------------------------------------|
| \n              | Newline: Inserts a newline character            |
| \t              | Tab: Inserts a tab character                    |
| \r              | Carriage return: Moves cursor to the beginning of the line |
| \\              | Backslash: Inserts a backslash character        |
| \'              | Single Quote: Inserts a single quote character  |
| \"              | Double Quote: Inserts a double quote character  |
| \b              | Backspace: Inserts a backspace character        |
| \f              | Form Feed: Inserts a form feed character        |
| \v              | Vertical Tab: Inserts a vertical tab character  |

#### Modifications

In [ ]:
# Lowercase
a = "Hello, World!"
print(a.lower())
print(a)   # Note that the original is not changed

hello, world!
Hello, World!

In [ ]:
# Uppercase
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [ ]:
# Replace
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [ ]:
# Split
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

#### String Methods

**** Does not modify original.Always return a copy


| Method           | Description                                      | Code with Output                                      |
|------------------|--------------------------------------------------|-------------------------------------------------------|
| capitalize()     | Returns a copy of the string with the first character capitalized and the rest lowercased | ```python s = "hello world"```<br>```python print(s.capitalize())```<br>Output: "Hello world" |
| casefold()       | Returns a casefolded copy of the string, suitable for case-insensitive comparisons | ```python s = "HELLO WORLD"```<br>```python print(s.casefold())```<br>Output: "hello world" |
| center(width)    | Returns a centered string of specified width     | ```python s = "hello"```<br>```python print(s.center(10))```<br>Output: "  hello   " |
| count(substring) | Returns the number of occurrences of a substring in the string | ```python s = "hello world"```<br>```python print(s.count('l'))```<br>Output: 3 |
| encode()         | Returns the encoded version of the string        | ```python s = "hello"```<br>```python print(s.encode())```<br>Output: b'hello' |
| endswith(suffix) | Returns True if the string ends with the specified suffix | ```python s = "hello world"```<br>```python print(s.endswith('world'))```<br>Output: True |
| expandtabs()     | Returns a copy of the string where tab characters are expanded using spaces | ```python s = "hello\tworld"```<br>```python print(s.expandtabs())```<br>Output: "hello   world" |
| find(substring)  | Returns the lowest index of the substring in the string, -1 if not found | ```python s = "hello world"```<br>```python print(s.find('o'))```<br>Output: 4 |
| format()         | Formats the string | ```python s = "My name is {name}"```<br>```python print(s.format(name="John"))```<br>Output: "My name is John" |
| index(substring) | Returns the lowest index of the substring in the string, raises ValueError if not found | ```python s = "hello world"```<br>```python print(s.index('o'))```<br>Output: 4 |
| isalnum()        | Returns True if all characters in the string are alphanumeric | ```python s = "hello123"```<br>```python print(s.isalnum())```<br>Output: True |
| isalpha()        | Returns True if all characters in the string are alphabetic | ```python s = "hello"```<br>```python print(s.isalpha())```<br>Output: True |
| isascii()        | Returns True if all characters in the string are ASCII, False otherwise | ```python s = "hello"```<br>```python print(s.isascii())```<br>Output: True |
| isdecimal()      | Returns True if all characters in the string are decimals | ```python s = "12345"```<br>```python print(s.isdecimal())```<br>Output: True |
| isdigit()        | Returns True if all characters in the string are digits | ```python s = "12345"```<br>```python print(s.isdigit())```<br>Output: True |
| isidentifier()   | Returns True if the string is a valid identifier | ```python s = "hello"```<br>```python print(s.isidentifier())```<br>Output: True |
| islower()        | Returns True if all characters in the string are lowercase | ```python s = "hello"```<br>```python print(s.islower())```<br>Output: True |
| isnumeric()      | Returns True if all characters in the string are numeric | ```python s = "12345"```<br>```python print(s.isnumeric())```<br>Output: True |
| isprintable()    | Returns True if all characters in the string are printable | ```python s = "hello"```<br>```python print(s.isprintable())```<br>Output: True |
| isspace()        | Returns True if all characters in the string are whitespaces | ```python s = "   "```<br>```python print(s.isspace())```<br>Output: True |
| istitle()        | Returns True if the string is titlecased (every word starts with an uppercase letter, others are lowercase) | ```python s = "Hello World"```<br>```python print(s.istitle())```<br>Output: True |
| isupper()        | Returns True if all characters in the string are uppercase | ```python s = "HELLO"```<br>```python print(s.isupper())```<br>Output: True |
| join(iterable)   | Joins elements of an iterable with the string as a separator | ```python my_list = ['hello', 'world']```<br>```python print(' '.join(my_list))```<br>Output: "hello world" |
| ljust(width)     | Returns a left-justified string of specified width | ```python s = "hello"```<br>```python print(s.ljust(10))```<br>Output: "hello     " |
| lower()          | Returns a copy of the string converted to lowercase | ```python s = "Hello World"```<br>```python print(s.lower())```<br>Output: "hello world" |
| lstrip()         | Returns a copy of the string with leading whitespace removed | ```python s = "   hello   "```<br>```python print(s.lstrip())```<br>Output: "hello   " |
| maketrans()      | Returns a translation table to be used in translate method | ```python from_string = "aeiou"```<br>```python to_string = "12345"```<br>```python translation_table = str.maketrans(from_string, to_string)```<br>```python s = "hello"```<br>```python print(s.translate(translation_table))```<br>Output: "h2ll3" |
| partition(separator) | Returns a tuple containing the string before the separator, the separator itself, and the string after the separator | ```python s = "hello world"```<br>```python print(s.partition(' '))```<br>Output: ('hello', ' ', 'world') |
| replace(old, new) | Returns a copy of the string with all occurrences of a substring replaced by another string | ```python s = "hello world"```<br>```python print(s.replace('world', 'python'))```<br>Output: "hello python" |
| rfind(substring)  | Returns the highest index of the substring in the string, -1 if not found | ```python s = "hello world"```<br>```python print(s.rfind('o'))```<br >Output: 7 |
| rindex(substring) | Returns the highest index of the substring in the string, raises ValueError if not found | ```python s = "hello world"```<br>```python print(s.rindex('o'))```<br>Output: 7 |
| rjust(width)      | Returns a right-justified string of specified width | ```python s = "hello"```<br>```python print(s.rjust(10))```<br>Output: "     hello" |
| rpartition(separator) | Returns a tuple containing the string before the last occurrence of the separator, the separator itself, and the string after the separator | ```python s = "hello world"```<br>```python print(s.rpartition(' '))```<br>Output: ('hello', ' ', 'world') |
| rsplit(separator)   | Splits the string from the right at the specified separator and returns a list of substrings | ```python s = "hello world"```<br>```python print(s.rsplit(' '))```<br>Output: ['hello', 'world'] |
| rstrip()            | Returns a copy of the string with trailing whitespace removed | ```python s = "   hello   "```<br>```python print(s.rstrip())```<br>Output: "   hello" |
| split(separator)    | Splits the string at the specified separator and returns a list of substrings | ```python s = "hello world"```<br>```python print(s.split(' '))```<br>Output: ['hello', 'world'] |
| splitlines()        | Splits the string at line breaks and returns a list of lines | ```python s = "hello\nworld"```<br>```python print(s.splitlines())```<br>Output: ['hello', 'world'] |
| startswith(prefix) | Returns True if the string starts with the specified prefix | ```python s = "hello world"```<br>```python print(s.startswith('hello'))```<br>Output: True |
| strip()             | Returns a copy of the string with leading and trailing whitespace removed | ```python s = "   hello   "```<br>```python print(s.strip())```<br>Output: "hello" |
| swapcase()          | Returns a copy of the string with uppercase characters converted to lowercase and vice versa | ```python s = "Hello World"```<br>```python print(s.swapcase())```<br>Output: "hELLO wORLD" |
| title()             | Returns a titlecased version of the string (first character of each word is capitalized) | ```python s = "hello world"```<br>```python print(s.title())```<br>Output: "Hello World" |
| translate(table)    | Returns a copy of the string where each character has been mapped through the given translation table | ```python from_string = "aeiou"```<br>```python to_string = "12345"```<br>```python translation_table = str.maketrans(from_string, to_string)```<br>```python s = "hello"```<br>```python print(s.translate(translation_table))```<br>Output: "h2ll3" |
| upper()             | Returns a copy of the string converted to uppercase | ```python s = "hello world"```<br>```python print(s.upper())```<br>Output: "HELLO WORLD" |
| zfill(width)        | Returns a copy of the string filled with zeros on the left to make a string of length width | ```python s = "42"```<br>```python print(s.zfill(5))```<br>Output: "00042" |

### Booleans

Booleans represent one of two values: ```True``` or ```False```.

### Operators

Arithmatic Operatos

| Operator | Description              | Example     | Result  |
|----------|--------------------------|-------------|---------|
| +        | Addition                 | 2 + 3       | 5       |
| -        | Subtraction              | 5 - 2       | 3       |
| *        | Multiplication           | 2 * 3       | 6       |
| /        | Division                 | 6 / 2       | 3.0     |
| //       | Floor Division           | 7 // 2      | 3       |
| %        | Modulus (Remainder)      | 7 % 2       | 1       |
| **       | Exponentiation           | 2 ** 3      | 8       |

Assignment Operators

| Operator | Description                          | Example          | Equivalent to       |
|----------|--------------------------------------|------------------|---------------------|
| =        | Assigns value from right to left     | x = 5            | x = 5               |
| +=       | Adds right operand to the left      | x += 3           | x = x + 3           |
| -=       | Subtracts right operand from the left| x -= 3          | x = x - 3           |
| *=       | Multiplies left by right             | x *= 2           | x = x * 2           |
| /=       | Divides left by right                | x /= 2           | x = x / 2           |
| //=      | Floor divides left by right          | x //= 2          | x = x // 2          |
| %=       | Computes modulus of left by right    | x %= 3           | x = x % 3           |
| **=      | Raises left to the power of right    | x **= 2          | x = x ** 2          |
| &=       | Performs bitwise AND on operands     | x &= 3           | x = x & 3           |
| &#124;=   | Performs bitwise OR on operands      | x &#124;= 3      | x = x &#124; 3      |
| ^=       | Performs bitwise XOR on operands     | x ^= 3           | x = x ^ 3           |
| >>=      | Right shifts left by right           | x >>= 2          | x = x >> 2          |
| <<=      | Left shifts left by right            | x <<= 2          | x = x << 2          |

Comparison operators in Python:

| Operator | Description                          | Example                  | Result  |
|----------|--------------------------------------|--------------------------|---------|
| ==       | Equal to                             | 5 == 5                   | True    |
| !=       | Not equal to                         | 5 != 3                   | True    |
| <        | Less than                            | 2 < 5                    | True    |
| >        | Greater than                         | 5 > 3                    | True    |
| <=       | Less than or equal to                | 2 <= 2                   | True    |
| >=       | Greater than or equal to             | 4 >= 5                   | False   |

Logical operators in Python:

| Operator | Description                          | Example                            | Result  |
|----------|--------------------------------------|------------------------------------|---------|
| and      | Returns True if both statements are true | True and False                 | False   |
| or       | Returns True if one of the statements is true | True or False                  | True    |
| not      | Returns the opposite of the result | not True                        | False   |

Identity operators in Python:

| Operator | Description                                   | Example                              | Result  |
|----------|-----------------------------------------------|--------------------------------------|---------|
| is       | Returns True if both variables are the same object | x is y                            | True/False |
| is not   | Returns True if both variables are not the same object | x is not y                        | True/False |

Explanation:

- **is**: Returns True if both variables point to the same object.
  Example: `x is y` evaluates to True if `x` and `y` reference the same object.

- **is not**: Returns True if both variables do not point to the same object.
  Example: `x is not y` evaluates to True if `x` and `y` reference different objects.

Membership operators in Python:

| Operator | Description                                    | Example                             | Result  |
|----------|------------------------------------------------|-------------------------------------|---------|
| in       | Returns True if a sequence with the specified value is present in the object | x in y                          | True/False |
| not in   | Returns True if a sequence with the specified value is not present in the object | x not in y                      | True/False |

Explanation:

- **in**: Returns True if the specified value is found in the sequence (list, tuple, string, etc.).
  Example: `5 in [1, 2, 3, 4, 5]` evaluates to True because 5 is present in the list.

- **not in**: Returns True if the specified value is not found in the sequence (list, tuple, string, etc.).
  Example: `6 not in [1, 2, 3, 4, 5]` evaluates to True because 6 is not present in the list.

Bitwise operators in Python:

| Operator | Description                                   | Example                              | Result  |
|----------|-----------------------------------------------|--------------------------------------|---------|
| &        | Bitwise AND                                   | 5 & 3                                | 1       |
| \|       | Bitwise OR                                    | 5 \| 3                               | 7       |
| ^        | Bitwise XOR (exclusive OR)                    | 5 ^ 3                                | 6       |
| ~        | Bitwise NOT (complement)                      | ~5                                   | -6      |
| <<       | Bitwise left shift                            | 5 << 2                               | 20      |
| >>       | Bitwise right shift                           | 5 >> 2                               | 1       |

Explanation for the examples:

- **Bitwise AND (&)**: Sets each bit to 1 if both corresponding bits are 1.
  Example: `5 & 3` evaluates to `0b101 & 0b011` which is `0b001` in binary, and `0b001` in decimal is 1.

- **Bitwise OR (|)**: Sets each bit to 1 if at least one corresponding bit is 1.
  Example: `5 | 3` evaluates to `0b101 | 0b011` which is `0b111` in binary, and `0b111` in decimal is 7.

- **Bitwise XOR (^)**: Sets each bit to 1 if only one corresponding bit is 1.
  Example: `5 ^ 3` evaluates to `0b101 ^ 0b011` which is `0b110` in binary, and `0b110` in decimal is 6.

- **Bitwise NOT (~)**: Inverts all the bits.
  Example: `~5` evaluates to `~0b101` which is `-0b110` in binary, and `-0b110` in decimal is -6.

- **Bitwise left shift (<<)**: Shifts the bits of the first operand to the left by the number of positions specified by the second operand.
  Example: `5 << 2` evaluates to `0b101 << 2` which is `0b10100` in binary, and `0b10100` in decimal is 20.

- **Bitwise right shift (>>)**: Shifts the bits of the first operand to the right by the number of positions specified by the second operand.
  Example: `5 >> 2` evaluates to `0b101 >> 2` which is `0b1` in binary, and `0b1` in decimal is 1.

### List

From Python's perspective, lists are defined as objects with the data type 'list': ```<class 'list'>``` . Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary,

List items are ordered, changeable, and allow duplicate values.
List items are indexed, the first item has index [0]

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
print(type(thislist))

<class 'list'>

#### Length

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

#### The list() Constructor

In [ ]:
thislist = list(("apple", "banana", "cherry"))
print(thislist)

['apple', 'banana', 'cherry']

#### Access List Items

Access them by referring to the index number

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

Negative Indexing

In [ ]:
print(thislist[-1])

cherry

Index range

Syntax:
```
list[a:b] => items from a to b , including a and excluiding b.
```

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

Negetive indexing

In [ ]:
print(thislist[-4:-1])   # includes (-4) and not include (-1)

['orange', 'kiwi', 'melon']

#### Check if Item Exists

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

#### Change List items

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

Change a Range of Item Values

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

If you insert less/more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

#### Insert Items

To insert a new list item, without replacing any of the existing values, use the ```insert()``` method.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

To add an item to the end of the list, use the ```append()``` method:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

To append multiple elements from another list to the current list, use the ```extend()``` method.

In [ ]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

The ```extend()``` method does not have to append lists, can add any iterable object (tuples, sets, dictionaries etc.).

In [ ]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

#### Remove List items

The ```remove()``` method removes the specified item.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

If there are more than one item with the specified value, the remove() method removes the first occurance

The ```pop()``` method removes the specified index.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

If you do not specify the index, the ```pop()``` method removes the last item.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

The ```del``` keyword also removes the specified index

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

The ```del``` keyword can also delete the list completely.

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist

The `clear()` method empties the list.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

#### Loop Through a List

Loop through elements

In [ ]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [ ]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

Get the index and the element while looping,

In [ ]:
# Using enumerate() with a list
my_list = ['apple', 'banana', 'cherry']
for index, value in enumerate(my_list):
    print(index, value)

0 apple
1 banana
2 cherry

#### List Comprehension

Syntax: <br>
> ```newlist = [expression for item in iterable if condition == True]```

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

In [ ]:
newlist = [x for x in range(10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
newlist = [x for x in range(10) if x < 5]
print(newlist)

[0, 1, 2, 3, 4]

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x.upper() for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = ['hello' for x in fruits]
print(newlist)

['hello', 'hello', 'hello', 'hello', 'hello']

In [ ]:
# Orange Instead of banana
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

#### Sort Lists

Sort List Alphanumerically

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

Sort Descending

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

##### Customize Sort Function

Customize the function by using the keyword argument ```key = function```.

The function will return a number that will be used to sort the list (the lowest number first)

In [ ]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

Case Insensitive Sort

By default the ```sort()``` method is case sensitive, resulting in all capital letters being sorted before lower case letters

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

Reverse the list

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

#### Copy a List

Cannot copy a list simply by typing ```list2 = list1```, because: ```list2``` will only be a reference to ```list1```, and changes made in list1 will automatically also be made in ```list2```.

There are ways to make a copy, one way is to use the built-in List method ```copy()```.

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

Make a copy of a list with the ```list()``` method

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

#### Join Two Lists

Using the ```+``` operator

In [ ]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

 Use the ```extend()``` method

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

#### Methods


| Method       | Description                                                                                                    | Example                                               |
|--------------|----------------------------------------------------------------------------------------------------------------|-------------------------------------------------------|
| append()     | Adds an element to the end of the list                                                                         | `my_list.append(4)`                                   |
| clear()      | Removes all elements from the list                                                                             | `my_list.clear()`                                     |
| copy()       | Returns a shallow copy of the list                                                                             | `new_list = my_list.copy()`                          |
| count()      | Returns the number of occurrences of a specified element in the list                                          | `count = my_list.count(2)`                           |
| extend()     | Adds elements from an iterable to the end of the list                                                          | `my_list.extend([5, 6])`                              |
| index()      | Returns the index of the first occurrence of a specified element in the list                                    | `index = my_list.index(3)`                            |
| insert()     | Inserts an element at the specified position                                                                   | `my_list.insert(1, 'a')`                              |
| pop()        | Removes and returns the element at the specified index (default is the last element)                            | `element = my_list.pop(2)`                            |
| remove()     | Removes the first occurrence of a specified element from the list                                              | `my_list.remove('a')`                                 |
| reverse()    | Reverses the elements of the list                                                                              | `my_list.reverse()`                                   |
| sort()       | Sorts the elements of the list (in-place by default)                                                           | `my_list.sort()`                                      |

### Tuples

A tuple is a collection which is ordered and unchangeable.Tuple items are ordered, unchangeable, and allow duplicate values.Tuple items can be of any data type.

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

#### Tuple Length

In [ ]:
print(len(thistuple))

5

#### Create tuple

Create Tuple With One Item

In [ ]:
thistuple = ("apple",)   ## Must inclue , at the end
print(type(thistuple))

<class 'tuple'>

In [ ]:
#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'str'>

The ```tuple()``` Constructor

In [ ]:
thistuple = tuple(("apple", "banana", "cherry"))
print(thistuple)

('apple', 'banana', 'cherry')

#### Access Tuple Items

 By referring to the index number

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

Negative Indexing

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

Range of Indexes

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])    #Includes 2 and excludes 5

('cherry', 'orange', 'kiwi')

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

#### Change Tuple Values

Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.Convert the tuple into a list, change the list, and convert the list back into a tuple.

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

Add tuple to a tuple. You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

#### Unpack tuples

In [ ]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

If the number of variables is less than the number of values, you can add an `*` to the variable name and the values will be assigned to the variable as a list

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [ ]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")
(green, *tropic, red) = fruits
print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

#### Loop Through a Tuple

In [ ]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [ ]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

#### Join Two Tuples

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [ ]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

#### Tuple Methods



| Method       | Description                                                                                                    | Example                                               |
|--------------|----------------------------------------------------------------------------------------------------------------|-------------------------------------------------------|
| count()      | Returns the number of occurrences of a specified element in the tuple                                          | `my_tuple.count(2)`                                   |
| index()      | Returns the index of the first occurrence of a specified element in the tuple                                    | `index = my_tuple.index(3)`                            |

### Sets

#### Sets vs Lists


| Characteristic            | Sets                                              | Lists                                                |
|---------------------------|---------------------------------------------------|------------------------------------------------------|
| Ordering                  | No inherent order, elements are unordered        | Maintains insertion order, elements are ordered      |
| Duplication               | Does not allow duplicate elements                | Allows duplicate elements                            |
| Mutability                | Mutable: Elements can be added or removed         | Mutable: Elements can be added, removed, or modified |
| Membership Testing        | Optimized for membership testing (`x in my_set`) | Membership testing can be slower for large lists     |
| Uniqueness                | Enforces uniqueness of elements                  | Does not enforce uniqueness of elements              |
| Operations                | Useful for set operations like union, intersection, difference | Commonly used for sequence operations, accessing elements by index |
| Performance               | Generally faster for membership testing and operations like union, intersection, and difference | Slower for membership testing, especially for large lists |
| Use Cases                 | Eliminating duplicates, set operations, efficient membership testing | Maintaining order, accessing elements by index, allowing duplicates |

A set is a collection which is unordered, unchangeable*, and unindexed.

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

Duplicates are not allowed in sets

In [ ]:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'cherry', 'apple', 'banana'}

The values True and 1 are considered the same value in sets, and are treated as duplicates

In [ ]:
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

{'cherry', True, 2, 'apple', 'banana'}

In [ ]:
print(type(thisset))

<class 'set'>

Also the values False and 0 are considered the same value in sets, and are treated as duplicates

To construct a set, `set()` can be used.

In [ ]:
thisset = set(["apple", "banana", "cherry"])
print(thisset)

{'cherry', 'apple', 'banana'}

This method can be used to elemenate identical elements of a list.

In [ ]:
list_a = ["apple", "banana", "cherry","apple","cherry","cherry","apple","cherry","apple","cherry","cherry","apple","cherry","cherry"]
thisset = set(list_a)
list_unique = list(thisset)
print(list_unique)

['cherry', 'apple', 'banana']

#### Length of a Set

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

#### Access Set Items

Cannot access items in a set by referring to an index or a key. But can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [ ]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

cherry
apple
banana

In [ ]:
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

True

#### Add Set Items

Once a set is created, cannot change its items, but can add new items.

Add an item to a set, using the ```add()``` method:

In [ ]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'orange', 'cherry', 'apple', 'banana'}

To add items from another set into the current set, use the ```update()``` method.

In [ ]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'papaya', 'apple', 'mango', 'pineapple', 'cherry', 'banana'}

The object in the ```update()``` method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

#### Remove Item

To remove an item in a set, use the ```remove()```, or the ```discard()``` method.

If the item to remove does not exist, ```remove()``` will raise an error.

If the item to remove does not exist, ```discard()``` will <U>NOT</U> raise an error.

In [ ]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'cherry', 'apple'}

Sets are unordered, so when using the ```pop()``` method, you do not know which item that gets removed

The ```clear()``` method empties the set

In [ ]:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

The del keyword will delete the set completely

In [ ]:
thisset = {"apple", "banana", "cherry"}
del thisset

#### Join Two Sets

Can use the ```union()``` method that returns a new set containing all items from both sets, or the ```update()``` method that inserts all the items from one set into another

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{'c', 1, 2, 3, 'a', 'b'}

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

{'c', 1, 2, 3, 'a', 'b'}

To <u>Keep ONLY the Duplicates</u>

The ```intersection_update()``` method will keep only the items that are present in both sets.

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
print(x)

{'apple'}

The ```intersection()``` method will return a new set, that only contains the items that are present in both sets.

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)

{'apple'}

Keep All, But <u>NOT the Duplicates</u>

The ```symmetric_difference()``` method will return a new set, that contains only the elements that are NOT present in both sets.

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y)
print(z)

{'microsoft', 'banana', 'google', 'cherry'}

#### Set Methods

| Method            | Description                                                                                     | Example                                              |
|-------------------|-------------------------------------------------------------------------------------------------|------------------------------------------------------|
| add()             | Adds an element to the set                                                                      | `my_set.add(4)`                                      |
| clear()           | Removes all elements from the set                                                               | `my_set.clear()`                                     |
| copy()            | Returns a shallow copy of the set                                                               | `new_set = my_set.copy()`                           |
| difference()      | Returns the difference between two sets (elements present in the first set but not in the second) | `difference_set = set1.difference(set2)`            |
| difference_update() | Removes all elements of another set from this set (updates the set in place)                     | `set1.difference_update(set2)`                       |
| discard()         | Removes an element from the set if it is a member                                                | `my_set.discard(4)`                                 |
| intersection()    | Returns the intersection of two or more sets (common elements)                                    | `intersection_set = set1.intersection(set2)`        |
| intersection_update() | Updates the set with the intersection of itself and another set (updates the set in place)    | `set1.intersection_update(set2)`                    |
| isdisjoint()      | Returns True if two sets have no intersection (no common elements)                                | `is_disjoint = set1.isdisjoint(set2)`              |
| issubset()        | Returns True if another set contains this set (subset)                                             | `is_subset = set1.issubset(set2)`                  |
| issuperset()      | Returns True if this set contains another set (superset)                                           | `is_superset = set1.issuperset(set2)`              |
| pop()             | Removes and returns an arbitrary element from the set                                              | `element = my_set.pop()`                           |
| remove()          | Removes a specified element from the set if it is present                                          | `my_set.remove(4)`                                  |
| symmetric_difference() | Returns the symmetric difference of two sets (elements present in either set, but not both)   | `symmetric_difference_set = set1.symmetric_difference(set2)` |
| symmetric_difference_update() | Updates the set with the symmetric difference of itself and another set (updates the set in place) | `set1.symmetric_difference_update(set2)`           |
| union()           | Returns the union of two or more sets (all unique elements from all sets)                         | `union_set = set1.union(set2)`                     |
| update()          | Updates the set with the union of itself and others (adds elements from all sets)                 | `set1.update(set2)`                                |

### Dictionaries

Dictionaries are used to store data values in key:value pairs.A dictionary is a collection which is ordered*, changeable and do not allow duplicates.Dictionaries cannot have two items with the same key

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Dictionary Length

In [ ]:
print(len(thisdict))

3

Type

In [ ]:
print(type(thisdict))

<class 'dict'>

#### The dict() Constructor

In [ ]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

#### Access Dictionary Items

Can access the items of a dictionary by referring to its key name

In [ ]:
thisdict["name"]

'John'

There is also a method called ```get()``` that will give the same result

In [ ]:
thisdict.get("name")

'John'

In [ ]:
thisdict.get("sample_key")

*** Note that when the key is wrong ```get()``` method will not rise an error.

```keys()``` method will return a list of all the keys in the dictionary

In [ ]:
x = thisdict.keys()
print(x)

dict_keys(['name', 'age', 'country'])

#### Change Items

Can change the value of a specific item by referring to its key name

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2024

In [ ]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2024}

The ```update()``` method will update the dictionary with the items from the given argument

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2024})

In [ ]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2024}

#### Add Dictionary Items

Adding an item to the dictionary is done by using a new index key and assigning a value to it

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

The ```update()``` method also can be used.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

#### Remove Dictionary Items

The ```pop()``` method removes the item with the specified key name

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

The ```del``` keyword removes the item with the specified key name

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

The ```clear()``` method empties the dictionary

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

#### Loop Through

When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(x)

brand
model
year

In [ ]:
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
1964

In [ ]:
for x in thisdict.values():
  print(x)

Ford
Mustang
1964

In [ ]:
for x in thisdict.keys():
  print(x)

brand
model
year

In [ ]:
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964

#### Copy

Cannot copy a dictionary simply by typing ```dict2 = dict1```, because: ```dict2``` will only be a reference to ```dict1```, and changes made in ```dict1``` will automatically also be made in ```dict2```.

Make a copy of a dictionary with the ```copy()``` method

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Another way to make a copy is to use the built-in function dict().

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

#### Nested Dictionaries

A dictionary can contain dictionaries, this is called nested dictionaries.

In [ ]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

Or in anotherway

In [ ]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

In [ ]:
print(myfamily["child2"]["name"])

Tobias

#### Dictionary Methods


| Method       | Description                                                                                                     | Example                                                |
|--------------|-----------------------------------------------------------------------------------------------------------------|--------------------------------------------------------|
| clear()      | Removes all items from the dictionary                                                                           | `my_dict.clear()`                                      |
| copy()       | Returns a shallow copy of the dictionary                                                                       | `new_dict = my_dict.copy()`                           |
| fromkeys()   | Returns a new dictionary with keys from iterable and values set to a default value (None if not specified)      | `new_dict = dict.fromkeys(['a', 'b', 'c'], 0)`       |
| get()        | Returns the value for the specified key, or a default value if the key is not found                             | `value = my_dict.get('key', default_value)`           |
| items()      | Returns a view object that displays a list of a dictionary's key-value tuples                                   | `key_value_pairs = my_dict.items()`                   |
| keys()       | Returns a view object that displays a list of the dictionary's keys                                             | `keys = my_dict.keys()`                               |
| pop()        | Removes and returns the value for the specified key                                                            | `value = my_dict.pop('key')`                          |
| popitem()    | Removes and returns an arbitrary key-value pair from the dictionary                                              | `key, value = my_dict.popitem()`                      |
| setdefault() | Returns the value for the specified key. If the key does not exist, inserts the key with the specified value    | `value = my_dict.setdefault('key', default_value)`    |
| update()     | Updates the dictionary with the key-value pairs from another dictionary or iterable                             | `my_dict.update(other_dict)`                          |
| values()     | Returns a view object that displays a list of the dictionary's values                                            | `values = my_dict.values()`                           |

##1.3 Conditions and If statements

- Equals: a == b
- Not Equals: a != b
- Less than: a < b
- Less than or equal to: a <= b
- Greater than: a > b
- Greater than or equal to: a >= b

In [1]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

### Short Hand If

In [2]:
if a > b: print("a is greater than b")

a is greater than b

### Short Hand If ... Else

This technique is known as Ternary Operators, or Conditional Expressions.

In [3]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

### Logical operators

In [4]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [5]:
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [6]:
if not a > b:
  print("a is NOT greater than b")

### The pass Statement

In [7]:
if b > a:
  pass

# **2.0 Object Oriented Programming:**

## 2.1 Introduction

Object-Oriented Programming (OOP) is a programming paradigm that emphasizes the use of objects, which are instances of classes, to structure and organize code. Python fully supports OOP, allowing developers to create classes, define attributes and methods, and create objects based on those classes.

1. **Classes and Objects:**
   - A class is a blueprint that defines the attributes and behavior of an object.
   - To create a class, use the `class` keyword followed by the class name. Inside the class, define attributes and methods.
   - An object is an instance of a class. You can create multiple objects based on a single class.

2. **Attributes:**
   - Attributes are variables associated with a class or object. They hold data that describes the state of the object.
   - Class attributes are shared among all instances of the class, while instance attributes are specific to each object.
   - You can define attributes within the class using the `self` keyword to refer to the instance of the class.

3. **Methods:**
   - Methods are functions defined within a class that perform actions on objects or manipulate object data.
   - Instance methods take the `self` parameter, which represents the instance calling the method.
   - Class methods are defined using the `@classmethod` decorator and take the `cls` parameter, representing the class itself.
   - Static methods are defined using the `@staticmethod` decorator and do not take any specific instance or class parameters.

4. **Inheritance:**
   - Inheritance is a mechanism where a class inherits properties and behavior from another class, called the superclass or base class.
   - The derived class, also known as the subclass or child class, can extend or override the attributes and methods of the base class.
   - In Python, you can define inheritance by specifying the base class in parentheses when creating a new class.

5. **Encapsulation:**
   - Encapsulation is the process of hiding the internal details of a class and providing a public interface for interacting with the class.
   - You can control access to attributes and methods using access specifiers: public (default), private (prefixed with double underscore), and protected (prefixed with single underscore).

6. **Polymorphism:**
   - Polymorphism allows objects of different classes to be treated as objects of a common superclass.
   - It enables methods with the same name to behave differently based on the object type they are invoked on.
   - Polymorphism in Python is achieved through method overriding and method overloading.

OOP in Python provides a structured and modular approach to programming, promoting code reuse, maintainability, and abstraction. By defining classes and objects, you can create organized and flexible code that models real-world entities or abstract concepts.

**Summery:**


| Topic                     | Explanation                                                                 |
|---------------------------|------------------------------------------------------------------------------|
| Classes and Objects       | - Blueprints that define attributes and behavior                               |
|                           | - Objects are instances of classes                                            |
| Attributes                | - Variables associated with classes or objects                                |
|                           | - Class attributes are shared, instance attributes are specific to objects    |
| Methods                   | - Functions defined within classes                                            |
|                           | - Perform actions on objects or manipulate data                              |
| Inheritance               | - Mechanism for inheriting properties and behavior                            |
|                           | - Subclass extends or overrides base class attributes and methods             |
| Encapsulation             | - Hiding internal details and providing a public interface                    |
|                           | - Control access with access specifiers (public, private, protected)          |
| Polymorphism              | - Objects of different classes treated as objects of a common superclass      |
|                           | - Methods with the same name behave differently based on object type          |

##2.2 Classes And Objects



1. **Defining a Class:**
   - To define a class, use the `class` keyword followed by the class name, which typically starts with an uppercase letter.
   - The class can have attributes (variables) and methods (functions) defined within it.
   - Example:
     ```python
     class Car:
         pass
     ```

2. **Creating Objects (Instances):**
   - Objects are instances of a class, created using the class name followed by parentheses.
   - This invokes the class's special method called the constructor (`__init__()`), which initializes the object.
   - Example:
     ```python
     my_car = Car()
     ```

3. **Class Attributes:**
   - Class attributes are variables that are shared among all instances of the class.
   - They are defined within the class but outside of any methods.
   - Class attributes can be accessed using the class name or any object of the class.
   - Example:
     ```python
     class Car:
         wheels = 4

     print(Car.wheels)  # Output: 4
     my_car = Car()
     print(my_car.wheels)  # Output: 4
     ```

4. **Instance Attributes:**
   - Instance attributes are specific to each object (instance) of the class.
   - They are defined within the class's constructor (`__init__()` method) and accessed using the `self` keyword.
   - Example:
     ```python
     class Car:
         def __init__(self, color):
             self.color = color

     my_car = Car("blue")
     print(my_car.color)  # Output: "blue"
     ```

5. **Methods:**
   - Methods are functions defined within a class that perform actions on objects or manipulate object data.
   - They are defined inside the class and can access attributes through the `self` parameter.
   - Example:
     ```python
     class Car:
         def __init__(self, color):
             self.color = color

         def drive(self):
             print("The car is driving.")

     my_car = Car("blue")
     my_car.drive()  # Output: "The car is driving."
     ```

6. **Class and Instance Variables:**
   - Class variables are shared among all instances and can be accessed using the class name or any object.
   - Instance variables are specific to each object and can be accessed using the `self` keyword.
   - Example:
     ```python
     class Car:
         wheels = 4

         def __init__(self, color):
             self.color = color

     print(Car.wheels)  # Output: 4

     my_car = Car("blue")
     print(my_car.color)  # Output: "blue"
     ```

7. **Special Methods:**
   - Special methods (also called magic methods or dunder methods) provide functionality to classes.
   - They are surrounded by double underscores and have predefined names.
   - Examples of special methods include `__init__()` for object initialization, `__str__()` for string representation, `__len__()` for length calculation, etc.

### 2.2.1  Example 1

In [ ]:
# Define a class ~> Data Type
class ItemE1:
  pass

# Instsnce & assign properties
item1 = ItemE1()
item1.name = "Phone"
item1.price = 100
item1.quantity = 5

print(type(item1))           #item <data type> ~> <class '__main__.ItemE1'>
print(type(item1.name))      # str
print(type(item1.price))     #int
print(type(item1.quantity))  #int

print(item1.name.upper())

<class '__main__.ItemE1'>
<class 'str'>
<class 'int'>
<class 'int'>
PHONE

## 2.3 self

In object-oriented programming (OOP) in Python, the `self` attribute refers to the instance of a class that is being manipulated or accessed within a method. It is a convention to name the first parameter of instance methods as `self`, although you can choose any valid variable name.


1. Reference to the Instance:
   - When a method is called on an object, the object itself is passed as the first argument implicitly.
   - By convention, this parameter is named `self` to indicate that it refers to the instance of the class.

2. Accessing Instance Attributes:
   - Within a method, you can use the `self` attribute to access instance attributes.
   - Instance attributes are unique to each object and can hold different values.
   - By prefixing the attribute name with `self`, you can access and modify its value.

   Example:
   ```python
   class Car:
       def __init__(self, color):
           self.color = color

       def drive(self):
           print(f"The {self.color} car is driving.")

   my_car = Car("blue")
   my_car.drive()  # Output: "The blue car is driving."
   ```

3. Calling Other Methods:
   - The `self` attribute allows you to call other methods of the same object within a method.
   - You can invoke methods using the `self` attribute followed by the method name and parentheses.

   Example:
   ```python
   class Car:
       def __init__(self, color):
           self.color = color

       def start_engine(self):
           # Perform some actions to start the engine
           print("Engine started.")

       def drive(self):
           self.start_engine()
           print(f"The {self.color} car is driving.")

   my_car = Car("red")
   my_car.drive()
   # Output:
   # "Engine started."
   # "The red car is driving."
   ```

### 2.3.1 Example 2

In [ ]:
# Define a class ~> Data Type
class ItemE2:

  '''
  Need to declare self argument since python passes the object(instance)
  itself as the initial argument always. So, other variables comes after that.
  It's nothing to use other name than self but , 'self' keyword is a common
  naming convention.
  '''
  def calculateTotalPrice(self , price , quantity):
    return price*quantity

# Instsnce & assign properties
item2 = ItemE2()
item2.name = "Phone"
item2.price = 1000
item2.quantity = 3

# It passes it self and other two variables to the method
print(item2.calculateTotalPrice(item2.price,item2.quantity))

3000

## 2.4 Class Attributes

Class attributes are variables that are defined within a class but outside of any methods. They are shared among all instances of the class and can be accessed using **either the class name or an instance of the class**. Class attributes are defined at the class level and are the same for all objects of that class.

1. Definition and Access:
   - Class attributes are defined directly within the class body, outside of any methods.
   - They are accessed using the class name or an instance of the class.

2. Shared Among Instances:
   - Class attributes are shared among all instances of the class.
   - When an instance accesses or modifies a class attribute, the change is reflected across all instances.

3. Initialization:
   - Class attributes are typically initialized when they are defined, similar to global variables.
   - They can also be modified or accessed within methods using the class name or the `self` keyword.

4. Visibility:
   - Class attributes are visible to all instances of the class and can be accessed by all instances.
   - They can also be accessed from outside the class using the class name.

### 2.4.1 Example 3

In [ ]:
class Car:
    color = "Red"  # Class attribute

    def __init__(self, brand):
        self.brand = brand  # Instance attribute

    def get_color(self):
        return self.color  # Accessing class attribute using self

car1 = Car("Toyota")
car2 = Car("Honda")

print(car1.brand)  # Output: Toyota
print(car2.brand)  # Output: Honda
print(car1.color)  # Output: Red
print(car2.color)  # Output: Red

print(Car.color)  # Output: Red

car1.color = "Blue"
print(car1.color)  # Output: Blue
print(car2.color)  # Output: Red

Toyota
Honda
Red
Red
Red
Blue
Red


In the example, `color` is a class attribute defined within the `Car` class. It is shared among all instances of the class. The `brand` attribute is an instance attribute specific to each instance of the class. The `get_color()` method accesses the class attribute using `self.color`.

Class attributes are useful when need to store data that is shared among all instances of a class, such as default values, constants, or common properties. They provide a way to define and manage data at the class level, ensuring consistency across all instances.

### 2.4.2 Example 4

In [ ]:
class ItemX:
  rate = 0.8

  #Recieves it self,name , price value and the quanntity
  def __init__(self,namePassed ,pricePassed,quantityPassed = 0):

    #Assign the properties to the object(self)
    self.name = namePassed
    self.price = pricePassed
    self.quantity = quantityPassed

  def calculatePrice(self):
    return self.price*self.quantity
  def apply_discount(self):
    # Note that class attributes cannot access directly!
    self.price = self.price*self.rate   #or  ItemX.rate ~> Not recomended

#Instance
itemX = ItemX("Laptop",1000,1)

#Calculate and print price
print(f"Price is : {itemX.calculatePrice()}")

#Apply discount
itemX.apply_discount()

#Print value after discount
print(f"Price is : {itemX.calculatePrice()}")

# Update the discount value
itemX.rate = 0.25

#Apply discount
itemX.apply_discount()

#Print value after discount
print(f"Price is : {itemX.calculatePrice()}")

Price is : 1000
Price is : 800.0
Price is : 200.0

##2.5 Magic Methods

Magic methods, also known as special methods or dunder (double underscore) methods, are predefined methods in Python that allows to define behavior for  custom classes. They are surrounded by double underscores at the beginning and end of their names.

|        Method        |                            Explanation                            |
|----------------------|-------------------------------------------------------------------|
| `__init__(self, ...)`    | Initializes an object of a class with specified attributes        |
| `__str__(self)`          | Returns a string representation of the object                     |
| `__repr__(self)`         | Returns a string representation that can be used to recreate the object |
| `__len__(self)`          | Returns the length of the object                                  |
| `__getitem__(self, key)` | Enables accessing an item in the object using square bracket notation |
| `__setitem__(self, key, value)` | Enables setting a value for an item in the object using square bracket notation |
| `__delitem__(self, key)` | Enables deleting an item from the object using the `del` statement |
| `__add__(self, other)`   | Defines behavior for the addition operation (`+`) between objects |
| `__sub__(self, other)`   | Defines behavior for the subtraction operation (`-`) between objects |
| `__eq__(self, other)`    | Defines behavior for equality comparison (`==`) between objects   |
| `__lt__(self, other)`    | Defines behavior for less-than comparison (`<`) between objects   |
| `__gt__(self, other)`    | Defines behavior for greater-than comparison (`>`) between objects |
| `__call__(self, ...)`    | Allows an object to be called as a function                         |

###2.5.1 \_\_init\_\_

**Example**:

In [ ]:
class Item3:
  rate = 0.5
  #Recieves it self,name , price value and the quanntity
  def __init__(self,namePassed ,pricePassed,quantityPassed = 0):
    #Assign the properties to the object(self)
    self.name = namePassed
    self.price = pricePassed
    self.quantity = quantityPassed
  def calculatePrice(self):
    return self.price*self.quantity

item3 = Item3("Laptop",1000,1)

print(item3.name)
print(item3.price)
print(item3.quantity)
print(f"Price is : {item3.calculatePrice()}")

print(item3.rate)

Laptop
1000
1
Price is : 1000
0.5

### 2.5.2 \_\_dict\_\_

 `__dict__` attribute is a dictionary that stores the namespace of a class or an instance. It contains all the attributes (variables and methods) defined within the class or associated with the instance as key-value pairs.


1. Class `__dict__`:
   - For a class, `__dict__` contains the class-level attributes, including class variables and methods.
   - It provides a way to access and modify the attributes of the class directly.

2. Instance `__dict__`:
   - For an instance of a class, `__dict__` contains the instance-specific attributes.
   - It includes both the instance variables (attributes) and any attributes inherited from the class.

3. Dictionary Structure:
   - The `__dict__` attribute is implemented as a dictionary, where attribute names are the keys, and the corresponding values are the attribute values.
   - The dictionary allows accessing and manipulating attributes dynamically at runtime.

In [ ]:
print(Item3.__dict__) # All the attribiutes for class level
print(item3.__dict__) # All the attribiutes for instance level ~> Note the rate and function does not inclued

{'__module__': '__main__', 'rate': 0.5, '__init__': <function Item3.__init__ at 0x7db79093d7e0>, 'calculatePrice': <function Item3.calculatePrice at 0x7db79093d750>, '__dict__': <attribute '__dict__' of 'Item3' objects>, '__weakref__': <attribute '__weakref__' of 'Item3' objects>, '__doc__': None}
{'name': 'Laptop', 'price': 1000, 'quantity': 1}

##2.6 Type Hints

Type hints in Python are a way to specify the expected types of variables, function arguments, and return values. They provide additional information about the types used in your code, which can help improve code readability, maintainability, and enable static type checking.


1. Variable Annotations:
   Annotate variables using the `:` syntax to indicate their expected type.
   ```python
   age: int = 25
   name: str = "John"
   ```

2. Function Annotations:
   Function arguments and return values can be annotated using the `:` syntax.
   ```python
   def greet(name: str) -> str:
       return "Hello, " + name
   ```

3. Optional Types:
   You can indicate that a variable or function argument is optional by using the `typing.Optional` type.
   ```python
   from typing import Optional

   def say_hello(name: Optional[str]) -> str:
       if name:
           return "Hello, " + name
       else:
           return "Hello, stranger"
   ```

4. Union Types:
   Union types allow specifying that a variable or function argument can have multiple possible types.
   ```python
   from typing import Union

   def add(x: Union[int, float], y: Union[int, float]) -> Union[int, float]:
       return x + y
   ```

5. Type Aliases:
   Type aliases provide a way to define custom type names for complex types or to make the code more readable.
   ```python
   from typing import List

   Vector = List[float]

   def scale(scalar: float, vector: Vector) -> Vector:
       return [scalar * num for num in vector]
   ```

Type hints are optional and do not affect the runtime behavior of the code. They are primarily used by static type checkers, such as `mypy`, to analyze the code and detect potential type-related issues.

###2.6.1 Example 5

In [ ]:
class Item4:
  #Recieves it self,name , price value and the quanntity
  def __init__(self,namePassed : str ,pricePassed :float ,quantityPassed : int):
    #Assign the properties to the object(self)
    self.name = namePassed
    self.price = pricePassed
    self.quantity = quantityPassed
  def calculatePrice(self) -> float:
    return self.price*self.quantity

item4 = Item4("Laptop",1000,1)

print(item4.name)
print(item4.price)
print(item4.quantity)
print(f"Price is : {item4.calculatePrice()}")

Laptop
1000
1
Price is : 1000

## 2.7 Assert Statement

The `assert` statement is a useful tool in Python for testing assumptions and ensuring that specific conditions are met. It allows to check if a given expression evaluates to `True` and raises an `AssertionError` if the expression evaluates to `False`. The `assert` statement can be used during development to detect logical errors or to validate input/output conditions.

The syntax for using the `assert` statement is as follows:

```python
assert expression, message
```

- The `expression` is the condition that need to be checked. If it evaluates to `True`, the program continues execution as normal. If it evaluates to `False`, an `AssertionError` is raised.
- The optional `message` parameter is an informative string that can be included to provide more details about the assertion.

Some key points about the `assert` statement:

1. Use Cases:
   - Debugging: `assert` statements can help catch logical errors during development.
   - Input Validation: `assert` can be used to validate input conditions and assumptions.
   - Post-conditions: `assert` can be used to verify that specific conditions hold true after a function or method call.

2. Behavior:
   - If the `expression` is `False`, an `AssertionError` is raised, halting program execution.
   - If the `expression` is `True`, the program continues execution without any impact.
   - The `AssertionError` typically includes the `message` parameter, providing details about the failed assertion.

3. Best Practices:
   - Use `assert` for conditions that should never occur or indicate a bug in the code.
   - Avoid using `assert` for input validation in production code. Instead, use explicit checks and exception handling.



```python
def divide(a, b):
    assert b != 0, "Cannot divide by zero"
    return a / b

result = divide(10, 0)
# Output: AssertionError: Cannot divide by zero
```

In the example, the `assert` statement checks if `b` is not equal to zero before performing division. Since the assertion fails, an `AssertionError` is raised with the provided message.

It's important to note that the `assert` statement is primarily used during development and debugging. In production code, it's recommended to handle exceptions explicitly and provide meaningful error messages to handle exceptional conditions gracefully.

### 2.7.1 Example 6

In [ ]:
class Item5:
  #Recieves it self,name , price value and the quanntity
  def __init__(self,namePassed : str ,pricePassed :float ,quantityPassed : int):

    #Validation
    assert pricePassed >= 0 , f"Price {pricePassed} is lower than zero"
    assert quantityPassed >= 0 ,  f"Quantity {quantityPassed} is lower than zero"

    #Assign the properties to the object(self)
    self.name = namePassed
    self.price = pricePassed
    self.quantity = quantityPassed

  def calculatePrice(self) -> float:
    return self.price*self.quantity

item5 = Item5("Laptop",1000,1)

### 2.7.2 Example 7 : Object List

In [ ]:
class Item7:
  rate = 0.8
  all  = []
  # Since it is a class attribute It's a common attribute for all
  # Think like , class attributes are like attributes inside a parent object
  # Instance attributes are like attributes inside each child

  def __init__(self,namePassed : str ,pricePassed :float ,quantityPassed : int):

    #Validation
    assert pricePassed >= 0 , f"Price {pricePassed} is lower than zero"
    assert quantityPassed >= 0 ,  f"Quantity {quantityPassed} is lower than zero"

    #Assign the properties to the object(self)
    self.name = namePassed
    self.price = pricePassed
    self.quantity = quantityPassed

    #Update the All list
    Item7.all.append(self)

  def calculatePrice(self) -> float:
    return self.price*self.quantity

  def apply_discount(self):
    self.price = self.price*self.rate

item7_1 = Item7("Laptop",1000,1)
item7_2 = Item7("Phone",250,3)
item7_3 = Item7("Tablet",350,2)
item7_4 = Item7("S-Watch",100,6)

print(Item7.all) # Shows 4 item object array

[<__main__.Item7 object at 0x7db79096d540>, <__main__.Item7 object at 0x7db79096d3f0>, <__main__.Item7 object at 0x7db79096f850>, <__main__.Item7 object at 0x7db79096c5e0>]

In [ ]:
for i in Item7.all:
  print(i.name)

Laptop
Phone
Tablet
S-Watch

### 2.7.3 Example 8 : Object List with \_\_repr\_\_

In [ ]:
class Item8:
  rate = 0.8
  all  = []
  # Since it is a class attribute It's a common attribute for all
  # Think like , class attributes are like attributes inside a parent object
  # Instance attributes are like attributes inside each child

  def __init__(self,namePassed : str ,pricePassed :float ,quantityPassed : int):

    #Validation
    assert pricePassed >= 0 , f"Price {pricePassed} is lower than zero"
    assert quantityPassed >= 0 ,  f"Quantity {quantityPassed} is lower than zero"

    #Assign the properties to the object(self)
    self.name = namePassed
    self.price = pricePassed
    self.quantity = quantityPassed

    #Update the All list
    Item8.all.append(self)

  def calculatePrice(self) -> float:
    return self.price*self.quantity

  def apply_discount(self):
    self.price = self.price*self.rate

  '''
  Insted of the  objectID  __repr__ passes an string
  The return string can be customized as required
  The common practice is represent object as it's intance code like 'Item8("Laptop",1000,1)'
  '''
  def __repr__(self):
    return f"Item8('{self.name}',{self.price},{self.quantity})"

item8_1 = Item8("Laptop",1000,1)
item8_2 = Item8("Phone",250,3)
item8_3 = Item8("Tablet",350,2)
item8_4 = Item8("S-Watch",100,6)

print(Item8.all) # Shows 4 item object array

[Item8('Laptop',1000,1), Item8('Phone',250,3), Item8('Tablet',350,2), Item8('S-Watch',100,6)]

## 2.8 Class Methods

A class method is a method that is bound to the class rather than an instance of the class. It is defined using the `@classmethod` decorator and can be accessed using either the class name or an instance of the class. Class methods have access to the class itself and can modify class-level attributes or perform operations that are relevant to the class as a whole. Here are some key points about class methods:

1. **Definition and Syntax:**
   - Class methods are defined using the `@classmethod` decorator before the method definition.
   - The first parameter of a class method is conventionally named `cls` (short for "class"), which refers to the class itself.
   - Class methods are typically defined within the class body but outside of any instances or instance methods.

2. **Access:**
   - Class methods can be accessed using the class name or an instance of the class.
   - When accessed through the class name, the `cls` parameter is automatically passed to the method.
   - When accessed through an instance, the instance is automatically passed as the `cls` parameter.

3. **Purpose:**
   - Class methods are often used to define alternative constructors or provide utility methods related to the class.
   - They can be used to modify class attributes or perform operations that involve the class as a whole.

### 2.8.1 Example 9

In [ ]:
class Circle:
    pi = 3.14159  # Class attribute

    def __init__(self, radius):
        self.radius = radius  # Instance attribute

    @classmethod
    def from_diameter(cls, diameter):
        radius = diameter / 2
        return cls(radius)

    def calculate_area(self):
        return self.pi * self.radius * self.radius

circle1 = Circle(5)
circle2 = Circle.from_diameter(10)

print(circle1.calculate_area())  # Output: 78.53975
print(circle2.calculate_area())  # Output: 78.53975

78.53975
78.53975

```python
class Item8:
  rate = 0.8
  all  = []
  def __init__(self,namePassed : str ,pricePassed :float ,quantityPassed : int):

    #Validation
    assert pricePassed >= 0 , f"Price {pricePassed} is lower than zero"
    assert quantityPassed >= 0 ,  f"Quantity {quantityPassed} is lower than zero"

    self.name = namePassed
    self.price = pricePassed
    self.quantity = quantityPassed

    Item8.all.append(self)

  def calculatePrice(self) -> float:
    return self.price*self.quantity

  def apply_discount(self):
    self.price = self.price*self.rate

  # Create objects from CSV ~> used classs method since it's a utility
  @classmethod
  def instantiateFromCSV(cls):

    with open('items.csv','r') as f:
      reader = csv.DictReader(f)
      items = list(reader)

    for i in items:
      Item8(
        name = i.get('name'),
        price = float(i.get('price')),
        quantity = int(i.get('quantity')),
      )

  def __repr__(self):
    return f"Item8('{self.name}',{self.price},{self.quantity})"


#Call the class method
Item8.instantiateFromCSV()
print(Item8.all) # Shows 4 item object array

```

## 2.9 Static methods

Static method is a method that belongs to a class but doesn't have access to the instance or class itself. It is defined using the `@staticmethod` decorator and can be accessed using either the class name or an instance of the class. Static methods are not bound to any specific instance or class state and are primarily used for utility functions or operations that don't require access to instance or class attributes. Here are some key points about static methods:

1. Definition and Syntax:
   - Static methods are defined using the `@staticmethod` decorator before the method definition.
   - Unlike regular methods, static methods don't take any special parameters such as `self` or `cls`.
   - Static methods are typically defined within the class body but outside of any instances or instance methods.

2. Access:
   - Static methods can be accessed using the class name or an instance of the class.
   - When accessed through the class name, no special parameters are automatically passed.
   - When accessed through an instance, no automatic instance-related parameters are passed.

3. Purpose:
   - Static methods are commonly used for utility functions or operations that don't require access to instance or class attributes.
   - They are not specific to any particular instance and do not modify or access instance or class state.


|                   | Class Method                                          | Static Method                                         |
|-------------------|-------------------------------------------------------|-------------------------------------------------------|
| Definition        | Decorated with `@classmethod`                        | Decorated with `@staticmethod`                        |
| Access            | Accessed using the class name or instance             | Accessed using the class name or instance             |
| Parameters        | First parameter conventionally named `cls`            | No special parameters                                 |
| Instance Access   | Has access to class and instance attributes           | Does not have access to class or instance attributes   |
| Class Access      | Has access to class attributes                        | Does not have access to class attributes              |
| Purpose           | Operates on class or instance attributes             | Utility functions or operations not requiring state   |
| Modification      | Can modify class attributes                          | Cannot modify class attributes                        |
| Inheritance       | Can be overridden by subclasses                      | Can be overridden by subclasses                      |
| Implicit Self     | Receives the class as the first parameter (`cls`)     | No implicit self parameter                            |
| Dependency        | Can depend on class or instance state                 | Does not depend on class or instance state            |
| Code Organization | Group related functionality within a class            | Group utility functions within a class                |
| Common Use Cases  | Alternative constructors, class-level operations     | Utility functions, independent operations             |

### 2.9.1 Static Method

In [ ]:
class MathUtils:
    @staticmethod
    def add(a, b):
        return a + b

    @staticmethod
    def multiply(a, b):
        return a * b

result1 = MathUtils.add(5, 3)
result2 = MathUtils.multiply(4, 6)

print(result1)  # Output: 8
print(result2)  # Output: 24

8
24

## 2.10 Inheritance

Inheritance is a fundamental concept in object-oriented programming (OOP) that allows classes to inherit attributes and methods from **parent classes**. It promotes code reuse, modularity, and allows for the creation of hierarchical relationships between classes. Inheritance enables the creation of specialized classes (child or derived classes) that inherit and extend the functionality of a more general class (parent or base class).

1. **Class Hierarchy:**
   - Inheritance forms a class hierarchy where child classes inherit attributes and methods from parent classes.
   - Parent classes are also known as base classes or superclasses, while child classes are referred to as derived classes or subclasses.

2. **Syntax:**
   - In Python, inheritance is declared by specifying the parent class in parentheses after the child class name when defining the class.
   - The child class inherits all attributes and methods defined in the parent class.

3. **Single Inheritance:**
   - Python supports single inheritance, where a class can inherit from only one parent class.
   - Child classes can access and use the attributes and methods of the parent class as if they were defined in the child class itself.

4. **Overriding Methods:**
   - Child classes can override methods inherited from the parent class by redefining them in the child class.
   - When a method is called on an instance of the child class, the overridden method in the child class is executed instead of the parent class method.

5. **Accessing Parent Class:**
   - Child classes can access the attributes and methods of the parent class using the `super()` function.
   - The `super()` function provides a way to call parent class methods and access parent class attributes from within the child class.

6. **Inheritance Levels:**
   - Inheritance can be hierarchical, allowing for multiple levels of inheritance.
   - A child class can become a parent class for another class, forming a chain of inheritance.

7. **Benefits of Inheritance:**
   - Code Reusability: Inheritance promotes code reuse by allowing child classes to inherit and reuse the functionality of parent classes.
   - Modularity: Inheritance helps in creating modular code by organizing related classes into a hierarchy.
   - Polymorphism: Inheritance supports polymorphism, where objects of different classes can be used interchangeably if they are related through inheritance.

###2.10.1 Example 10

In [ ]:
class Animal:
    def __init__(self, name):
        self.name = name

    def speak(self):
        print("The animal speaks.")

class Dog(Animal):
    def __init__(self, name, breed):
        super().__init__(name)
        self.breed = breed

    def speak(self):
        print("The dog barks.")

animal = Animal("Generic Animal")
dog = Dog("Buddy", "Labrador")

animal.speak()  # Output: The animal speaks.
dog.speak()     # Output: The dog barks.

The animal speaks.
The dog barks.

In the example, the `Animal` class is the parent class, and the `Dog` class is the child class that inherits from `Animal`. The `Dog` class overrides the `speak()` method of the `Animal` class with its own implementation. When `speak()` is called on the `animal` object, it executes the method from the `Animal` class. When `speak()` is called on the `dog` object, it executes the overridden method from the `Dog` class.

### 2.10.2 Example 11

In [ ]:
# Base or the Parent Class
class Item11:
  rate = 0.8
  all  = []

  def __init__(self,namePassed : str ,pricePassed :float ,quantityPassed : int):

    assert pricePassed >= 0 , f"Price {pricePassed} is lower than zero"
    assert quantityPassed >= 0 ,  f"Quantity {quantityPassed} is lower than zero"

    self.name = namePassed
    self.price = pricePassed
    self.quantity = quantityPassed

    Item11.all.append(self)

  def calculatePrice(self) -> float:
    return self.price*self.quantity

  def apply_discount(self):
    self.price = self.price*self.rate

  def __repr__(self):
    return f"{self.__class__.__name__}('{self.name}',{self.price},{self.quantity})"

item11_1 = Item11("Laptop",1000,1)
item11_2 = Item11("Phone",250,3)
item11_3 = Item11("Tablet",350,2)
item11_4 = Item11("S-Watch",100,6)

print(Item11.all) # Shows 4 item object array

[Item11('Laptop',1000,1), Item11('Phone',250,3), Item11('Tablet',350,2), Item11('S-Watch',100,6)]

In [ ]:
#Inherited class to add damaged Items

class damagedItems(Item11):
  all = []
  def __init__(self, namePassed: str, pricePassed: float, quantityPassed: int , brokenItemsPassed : int):
    #  Call to super function to have access all the atributes and methods in the parent clasas
    super().__init__(namePassed, pricePassed, quantityPassed)

    # Run validation for new arguments which are unique to the child class
    assert brokenItemsPassed >= 0 , f"Broken phones {brokenItemsPassed} invalid"

    # Assign new uniqe parameters to the child object
    self.brokenItems = brokenItemsPassed

    # Update all list
    damagedItems.all.append(self)


item11_6 = damagedItems("Laptop_Broken",1000,1,1)
item11_7 = damagedItems("Phone_Broken",250,3,1)
item11_8 = damagedItems("Tablet_Broken",350,2,1)
item11_9 = damagedItems("S-Watch_Broken",100,6,1)

# Run
print(item11_6.calculatePrice())
item11_6.apply_discount()
print(item11_6.calculatePrice())

1000
800.0

In [ ]:
print(Item11.all)

[Item11('Laptop',1000,1), Item11('Phone',250,3), Item11('Tablet',350,2), Item11('S-Watch',100,6), damagedItems('Laptop_Broken',800.0,1), damagedItems('Phone_Broken',250,3), damagedItems('Tablet_Broken',350,2), damagedItems('S-Watch_Broken',100,6)]

In [ ]:
print(damagedItems.all)

[damagedItems('Laptop_Broken',800.0,1), damagedItems('Phone_Broken',250,3), damagedItems('Tablet_Broken',350,2), damagedItems('S-Watch_Broken',100,6)]

# 3.0 Numpy Library

## 3.1 Introduction

### 3.1.1 Introduction to Numpy

NumPy (Numerical Python) is a powerful library for numerical computing in Python. It provides support for large, multi-dimensional arrays and matrices, along with a collection of high-level mathematical functions to operate on these arrays efficiently. NumPy is a fundamental building block for data analysis, scientific computing, and machine learning tasks in Python.

### 3.1.2 What is NumPy?

NumPy is an open-source library that extends Python's capabilities to handle arrays and numerical operations with ease. It was created to address the limitations of Python's built-in data structures and to provide fast, memory-efficient operations on large datasets. The core data structure in NumPy is the "ndarray" (n-dimensional array), which allows for element-wise operations and broadcasting. NumPy also supports various data types and functions to work with these arrays efficiently.

### 3.1.3 Why NumPy ?

NumPy offers several compelling reasons to use it for numerical computing tasks:

- **Performance:** NumPy is implemented in C and offers highly optimized array operations, making it much faster than traditional Python lists when handling large datasets.

- **Memory Efficiency:** NumPy arrays are more memory-efficient compared to Python lists, which can be critical when dealing with huge datasets.

- **Broadcasting:** NumPy enables broadcasting, which allows operations on arrays of different shapes and sizes, making code concise and readable.

- **Mathematical Functions:** NumPy provides a wide range of mathematical functions for array operations, linear algebra, statistics, and more.

- **Integration with Other Libraries:** NumPy seamlessly integrates with various data science and machine learning libraries in the Python ecosystem.

### 3.1.4 Getting started with NumPy

**Installing NumPy**

Installing NumPy is straightforward and can be done using Python's package manager, pip. Simply open a terminal or command prompt and execute the following command:

```
pip install numpy
```

Ensure that you have an active internet connection, and NumPy will be downloaded and installed on your system.

**Getting Started with NumPy Arrays**

To start using NumPy, you need to import the library in your Python script or interactive session:

```python
import numpy as np
```

With NumPy imported, you can now create NumPy arrays and perform various operations on them. The first step is often to create an array:

```python
# Creating a NumPy array from a list
arr = np.array([1, 2, 3, 4, 5])

# Creating a multi-dimensional array (matrix)
matrix = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
```

## 3.2 NumPy Arrays

NumPy provides powerful capabilities for creating and manipulating arrays.

### 3.2.1  Creating NumPy Arrays

1. Creating an array from a Python list:

In [ ]:
import numpy as np

list_data = [1, 2, 3, 4, 5]
numpy_array = np.array(list_data)
print(numpy_array)

[1 2 3 4 5]

2. Creating a 2D array from nested lists:

In [ ]:
nested_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
numpy_2d_array = np.array(nested_lists)
print(numpy_2d_array)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

3. Creating an array of zeros with a specified shape:

In [ ]:
zeros_array = np.zeros((3, 4))
print(zeros_array)

[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]

4. Creating an array of ones with a specified shape:

In [ ]:
ones_array = np.ones((2, 3))
print(ones_array)

[[1. 1. 1.]
 [1. 1. 1.]]

5. Creating an array with a specified range of values:

In [ ]:
range_array = np.arange(0, 10, 2)
print(range_array)

[0 2 4 6 8]

6. Creating an array with equally spaced values:

In [ ]:
spaced_array = np.linspace(0, 1, 5)
print(spaced_array)

[0.   0.25 0.5  0.75 1.  ]

7. Creating a 3x3 identity matrix:

In [ ]:
identity_matrix = np.eye(3)
print(identity_matrix)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

8. Creating a random 2x3 array:

In [ ]:
random_array = np.random.rand(2, 3)
print(random_array)

[[0.63873685 0.73634864 0.00422765]
 [0.88094691 0.71408528 0.67107406]]

9. Creating an array with random integers between a range:

In [ ]:
random_integers = np.random.randint(1, 10, (3, 3))
print(random_integers)

[[6 9 5]
 [8 4 3]
 [7 5 2]]

10. Creating an array with repeated values:

In [ ]:
repeated_values = np.repeat(5, 5)
print(repeated_values)

[5 5 5 5 5]

### 3.2.2 Indexing and Slicing

1. Accessing a single element from an array:

In [ ]:
arr = np.array([1, 2, 3, 4, 5])
print(arr[3])

4

2. Slicing a 1D array:

In [ ]:
arr = np.array([1, 2, 3, 4, 5])
print(arr[1:4])

[2 3 4]

3. Indexing and slicing a 2D array:

In [ ]:
arr_2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
print(arr_2d)
print(arr_2d[1, 2])
print(arr_2d[0:2, 1:])

[[1 2 3]
 [4 5 6]
 [7 8 9]]
6
[[2 3]
 [5 6]]

4. Using negative indices for reverse indexing:

In [ ]:
arr = np.array([1, 2, 3, 4, 5])
print(arr[-1])

5

5. Assigning new values to array elements using indexing:

In [ ]:
arr = np.array([1, 2, 3, 4, 5])
arr[2] = 10
print(arr)

[ 1  2 10  4  5]

6. Boolean indexing to filter array elements:

In [ ]:
arr = np.array([10, 20, 30, 40, 50])
mask = arr > 30
print(arr[mask])

[40 50]

7. Indexing with a list of integers:

In [ ]:
arr = np.array([1, 2, 3, 4, 5])
indices = [0, 2, 4]
print(arr[indices])

[1 3 5]

8. Using "np.ix_" for advanced indexing:

In [ ]:
arr = np.array([1, 2, 3, 4, 5])
rows_to_select = [True, False, True, False, False]
print(arr[np.ix_(rows_to_select)])

[1 3]

9. Combining Boolean masks with logical operators:

In [ ]:
arr = np.array([10, 20, 30, 40, 50])
mask1 = arr > 20
mask2 = arr < 50
print(arr[mask1 & mask2])

[30 40]

10. Modifying sub-arrays using slicing:

In [ ]:
arr = np.array([1, 2, 3, 4, 5])
arr[1:4] = 100
print(arr)

[  1 100 100 100   5]

### 3.2.3 Array Shape and Dimensions

1. Checking the shape of an array:

In [ ]:
arr = np.array([[1, 2, 3], [4, 5, 6]])
print(arr.shape)

(2, 3)

2. Determining the number of dimensions:

In [ ]:
arr = np.array([1, 2, 3])
print(arr.ndim)

1

3. Finding the total number of elements in an array:

In [ ]:
arr = np.array([[1, 2, 3], [4, 5, 6]])
print(arr.size)

6

4. Reshaping a 1D array into a 2D array:

In [ ]:
arr = np.arange(1, 7)
print(arr)
reshaped_arr = arr.reshape(2, 3)
print(reshaped_arr)

[1 2 3 4 5 6]
[[1 2 3]
 [4 5 6]]

5. Flattening a 2D array into a 1D array:

In [ ]:
arr = np.array([[1, 2, 3], [4, 5, 6]])
flattened_arr = arr.flatten()
print(flattened_arr)

[1 2 3 4 5 6]

6. Raveling a 2D array (similar to flatten but returns a view if possible):

In [ ]:
arr = np.array([[1, 2, 3], [4, 5, 6]])
raveled_arr = arr.ravel()
print(raveled_arr)

[1 2 3 4 5 6]

7. Adding a new dimension to an existing array:

In [ ]:
arr = np.array([1, 2, 3])
print(arr)
new_dimension_arr = arr[:, np.newaxis]
print(new_dimension_arr)

[1 2 3]
[[1]
 [2]
 [3]]

8. Concatenating arrays along a specified axis:

In [ ]:
arr1 = np.array([1, 2, 3])
arr2 = np.array([4, 5, 6])
concatenated_arr = np.concatenate((arr1, arr2))
print(concatenated_arr)

[1 2 3 4 5 6]

9. Stacking arrays vertically and horizontally:

In [ ]:
arr1 = np.array([[1, 2], [3, 4]])
arr2 = np.array([[5, 6]])
vertical_stack = np.vstack((arr1, arr2))
horizontal_stack = np.hstack((arr1, arr2.T))
print(vertical_stack)
print(horizontal_stack)

[[1 2]
 [3 4]
 [5 6]]
[[1 2 5]
 [3 4 6]]

### 3.2.4 Reshaping and Transposing Arrays

1. Reshaping a 1D array to a 2D array with specified dimensions:

In [ ]:
arr = np.arange(1, 7)
reshaped_arr = np.reshape(arr, (2, 3))
print(reshaped_arr)

[[1 2 3]
 [4 5 6]]

2. Reshaping an array using "-1" as a placeholder:

In [ ]:
arr = np.arange(1, 13)
reshaped_arr = np.reshape(arr, (3, -1))
print(reshaped_arr)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

3. Transposing an array using "transpose" function:

In [ ]:
arr = np.array([[1, 2, 3], [4, 5, 6]])
transposed_arr = np.transpose(arr)
print(transposed_arr)

[[1 4]
 [2 5]
 [3 6]]

4. Transposing an array using "T" attribute:

In [ ]:
arr = np.array([[1, 2, 3], [4, 5, 6]])
transposed_arr = arr.T
print(transposed_arr)

[[1 4]
 [2 5]
 [3 6]]

5. Swapping axes of a 2D array:

In [ ]:
arr = np.array([[1, 2, 3], [4, 5, 6]])
swapped_arr = arr.swapaxes(0, 1)
print(swapped_arr)

[[1 4]
 [2 5]
 [3 6]]

6. Flipping an array horizontally:

In [ ]:
arr = np.array([[1, 2, 3], [4, 5, 6]])
flipped_arr = np.fliplr(arr)
print(flipped_arr)

[[3 2 1]
 [6 5 4]]

7. Flipping an array vertically:

In [ ]:
arr = np.array([[1, 2, 3], [4, 5, 6]])
flipped_arr = np.flipud(arr)
print(flipped_arr)

[[4 5 6]
 [1 2 3]]

8. Rolling elements of an array:

In [ ]:
arr = np.array([1, 2, 3, 4, 5])
rolled_arr = np.roll(arr, 2)
print(rolled_arr)

[4 5 1 2 3]

9. Rotating elements of an array:

In [ ]:
#arr = np.array([1, 2, 3, 4, 5])
#rotated_arr = np.rot90(arr)
#print(rotated_arr)

10. Tiling an array to create a larger array:

In [ ]:
arr = np.array([1, 2, 3])
tiled_arr = np.tile(arr, 3)
print(tiled_arr)

[1 2 3 1 2 3 1 2 3]

### 3.2.5 Array Operations and Broadcasting

1. Element-wise arithmetic operations:

In [ ]:
arr1 = np.array([1, 2, 3])
arr2 = np.array([4, 5, 6])
addition = arr1 + arr2
subtraction = arr1 - arr2
multiplication = arr1 * arr2
division = arr1 / arr2
print(addition, subtraction, multiplication, division)

[5 7 9] [-3 -3 -3] [ 4 10 18] [0.25 0.4  0.5 ]

2. Element-wise comparison operations:

In [ ]:
arr1 = np.array([1, 2, 3])
arr2 = np.array([3, 2, 1])
greater_than = arr1 > arr2
less_than_or_equal = arr1 <= arr2
equal = arr1 == arr2
print(greater_than, less_than_or_equal, equal)

[False False  True] [ True  True False] [False  True False]

3. Broadcasting with a scalar:

In [ ]:
arr = np.array([1, 2, 3])
result = arr + 5
print(result)

[6 7 8]

4. Broadcasting with a 1D array:

In [ ]:
arr = np.array([1, 2, 3])
row_vector = np.array([10, 20, 30])
result = arr + row_vector
print(result)

[11 22 33]

5. Broadcasting with a 2D array:

In [ ]:
arr = np.array([[1, 2, 3], [4, 5, 6]])
column_vector = np.array([[10], [20]])
result = arr + column_vector
print(result)

[[11 12 13]
 [24 25 26]]

6. Element-wise square root:

In [ ]:
arr = np.array([1, 4, 9])
result = np.sqrt(arr)
print(result)

[1. 2. 3.]

7. Element-wise exponentiation:

In [ ]:
arr = np.array([2, 3, 4])
result = np.exp(arr)
print(result)

[ 7.3890561  20.08553692 54.59815003]

8. Element-wise trigonometric functions:

In [ ]:
arr = np.array([0, np.pi/2, np.pi])
result_sin = np.sin(arr)
result_cos = np.cos(arr)
result_tan = np.tan(arr)
print(result_sin, result_cos, result_tan)

[0.0000000e+00 1.0000000e+00 1.2246468e-16] [ 1.000000e+00  6.123234e-17 -1.000000e+00] [ 0.00000000e+00  1.63312394e+16 -1.22464680e-16]

9. Summing elements of an array:

In [ ]:
arr = np.array([1, 2, 3, 4, 5])
sum_result = np.sum(arr)
print(sum_result)

15

10. Matrix multiplication:

In [ ]:
matrix1 = np.array([[1, 2], [3, 4]])
matrix2 = np.array([[5, 6], [7, 8]])
result = np.dot(matrix1, matrix2)
print(result)

[[19 22]
 [43 50]]

## 3.3 Linear Algebra

NumPy linear algebra functions

| Function                      | Structure                                      | Description                                                                                                               |
|-------------------------------|------------------------------------------------|---------------------------------------------------------------------------------------------------------------------------|
| `np.dot(a, b)`                | `np.dot(a, b, out=None)`                      | Compute the dot product of two arrays.                                                                                  |
| `np.matmul(a, b)`             | `np.matmul(a, b, out=None)`                   | Matrix multiplication between two arrays.                                                                                |
| `np.linalg.inv(a)`            | `np.linalg.inv(a)`                            | Compute the (multiplicative) inverse of a square matrix.                                                                 |
| `np.linalg.det(a)`            | `np.linalg.det(a)`                            | Compute the determinant of a square matrix.                                                                              |
| `np.linalg.eig(a)`            | `np.linalg.eig(a)`                            | Compute the eigenvalues and eigenvectors of a square matrix.                                                             |
| `np.linalg.svd(a)`            | `np.linalg.svd(a, full_matrices=True, compute_uv=True, hermitian=False)` | Perform singular value decomposition on a matrix.                                                                  |
| `np.linalg.solve(a, b)`       | `np.linalg.solve(a, b)`                       | Solve a linear matrix equation, `ax = b`, for `x`.                                                                        |
| `np.linalg.lstsq(a, b, rcond=None)` | `np.linalg.lstsq(a, b, rcond=None)`       | Solve linear least-squares problem, `min ||a @ x - b||^2`.                                                                |
| `np.linalg.norm(x, ord=None)` | `np.linalg.norm(x, ord=None, axis=None, keepdims=False)` | Compute the norm of an array, `x`.                                                                                 |
| `np.linalg.qr(a, mode='reduced')` | `np.linalg.qr(a, mode='reduced')`          | Compute the QR decomposition of a matrix.                                                                                |
| `np.linalg.eigh(a, UPLO='L')`  | `np.linalg.eigh(a, UPLO='L', eigvals_only=False)` | Compute eigenvalues and (optionally) eigenvectors of a Hermitian or symmetric matrix.                           |
| `np.linalg.matrix_power(a, n)` | `np.linalg.matrix_power(a, n)`                | Raise a square matrix to the (integer) power `n`.                                                                         |

### 3.3.1 Dot Product

The dot product is a fundamental operation in linear algebra, and NumPy provides a powerful function, `np.dot()`, to perform this operation efficiently.

#### 3.3.1.1 Introduction to Dot Product


The dot product, also known as the scalar product or inner product, is an operation that takes two vectors and returns a scalar value. For two vectors, A and B, the dot product is calculated as:

```
A · B = |A| * |B| * cos(θ)
```

where `|A|` and `|B|` are the magnitudes (lengths) of vectors A and B, respectively, and θ is the angle between the two vectors.

#### 3.3.1.2 Dot Product in NumPy

In NumPy, the `np.dot()` function is used to compute the dot product of two arrays. The operation is performed element-wise, followed by the summation of the results.

Example 1: Dot Product of 1D Arrays

In [ ]:
# 1D arrays
A = np.array([2, 3, 5])
B = np.array([4, 1, 7])

# Calculate the dot product
dot_product = np.dot(A, B)
print("Dot Product of A and B:", dot_product)

Dot Product of A and B: 46

Example 2: Dot Product of 2D Arrays

In [ ]:
# 2D arrays
A = np.array([[1, 2], [3, 4]])
B = np.array([[5, 6], [7, 8]])

# Calculate the dot product
dot_product = np.dot(A, B)
print("Dot Product of A and B:")
print(dot_product)

Dot Product of A and B:
[[19 22]
 [43 50]]

Example 3 :  Broadcasting in Dot Product

In [ ]:
# Broadcasting example
A = np.array([[1, 2, 3], [4, 5, 6]])
B = np.array([2, 3, 4])

# Calculate the dot product with broadcasting
dot_product = np.dot(A, B)
print("Dot Product with Broadcasting:")
print(dot_product)

Dot Product with Broadcasting:
[20 47]

### 3.3.2 Matrix Multiplication

NumPy's `matmul()` function is used to perform matrix multiplication between two arrays. It is a versatile function that can handle both 1D and 2D arrays, making it useful for a wide range of linear algebra computations. The `matmul()` function is equivalent to the `@` operator in Python 3.5 and above.

**Syntax:**
```
numpy.matmul(a, b, out=None)
```

**Parameters:**
- `a`: First input array (matrix) for multiplication.
- `b`: Second input array (matrix) for multiplication.
- `out`: Optional. The output array where the result is stored.

**Return Value:**
- The result of the matrix multiplication between `a` and `b`.

**Note:**
- For 2D arrays, `matmul()` performs matrix multiplication.
- For 1D arrays, `matmul()` behaves like the dot product.

Example 1: Matrix Multiplication (2D arrays)

In [ ]:
A = np.array([[1, 2], [3, 4]])
B = np.array([[5, 6], [7, 8]])

result = np.matmul(A, B)
# Equivalent to: result = A @ B

print(result)

[[19 22]
 [43 50]]

Example 2: Dot Product (1D arrays)

In [ ]:
A = np.array([1, 2, 3])
B = np.array([4, 5, 6])

result = np.matmul(A, B)
# Equivalent to: result = A @ B

print(result)

32

Example 3: Broadcasting in matmul()

In [ ]:
A = np.array([[1, 2], [3, 4], [5, 6]])
B = np.array([2, 3])

result = np.matmul(A, B)
# Equivalent to: result = A @ B

print(result)

[ 8 18 28]

Example 4: Output Array with out Parameter

In [ ]:
A = np.array([[1, 2], [3, 4]])
B = np.array([[5, 6], [7, 8]])

output_array = np.zeros((2, 2), dtype=int)

result = np.matmul(A, B, out=output_array)
# Equivalent to: result = np.matmul(A, B)

print(result)

[[19 22]
 [43 50]]

### 3.3.3 Inverse Matrix

In linear algebra, the inverse of a square matrix A is denoted as A^(-1). When a square matrix is multiplied by its inverse, the result is the identity matrix, denoted as I. NumPy provides the `np.linalg.inv()` function to calculate the inverse of a square matrix.

**Syntax:**
```
numpy.linalg.inv(a)
```

**Parameters:**
- `a`: The input square matrix for which the inverse is to be calculated.

**Return Value:**
- The inverse matrix of `a`.

**Note:**
- The input matrix `a` must be square (i.e., have the same number of rows and columns).
- Not all matrices have an inverse. If `a` is singular or nearly singular, the `np.linalg.inv()` function may raise a `LinAlgError`.

Example 1: Calculate Inverse of a 2x2 Matrix

In [ ]:
A = np.array([[1, 2], [3, 4]])

inverse_A = np.linalg.inv(A)

print(inverse_A)

[[-2.   1. ]
 [ 1.5 -0.5]]

Example 2: Calculate Inverse of a 3x3 Matrix

In [ ]:
B = np.array([[2, 1, 3], [4, 2, 1], [3, 4, 2]])

inverse_B = np.linalg.inv(B)

print(inverse_B)

[[ 0.   0.4 -0.2]
 [-0.2 -0.2  0.4]
 [ 0.4 -0.2  0. ]]

Example 3: Singular Matrix

In [ ]:
C = np.array([[1, 2], [2, 4]])

try:
    inverse_C = np.linalg.inv(C)
    print(inverse_C)
except np.linalg.LinAlgError:
    print("Matrix C is singular. Inverse does not exist.")

Matrix C is singular. Inverse does not exist.

**Note on singular and non-singular marixes**

In linear algebra, a square matrix is called "singular" if it does not have an inverse.(i.e. No solutions , incomplete equation combinations) In other words, a matrix A is singular if there is no matrix B such that the product of A and B (AB) is the identity matrix (I). If a matrix is singular, it cannot be inverted, and attempting to find its inverse will result in an error.

On the other hand, a square matrix that has an inverse is called "non-singular" or "invertible." If a matrix A is non-singular, there exists a matrix B such that AB = BA = I. The inverse of a non-singular matrix A is denoted as A^(-1), and it satisfies the property: A * A^(-1) = A^(-1) * A = I.

Mathematically, for a square matrix A of size (n x n), the conditions for singularity are:

1. If the determinant of A (det(A)) is equal to zero, the matrix A is singular.
2. If the rank of A (rank(A)) is less than n, the matrix A is singular.

A square matrix is non-singular if and only if its determinant is non-zero, and its rank is equal to the number of rows (n).

###3.3.4 Determinent

In NumPy, you can calculate the determinant of a square matrix using the `numpy.linalg.det()` function. This function computes the determinant of a given square matrix.

**Syntax:**
```
numpy.linalg.det(a)
```

**Parameters:**
- `a`: The input square matrix for which the determinant is to be calculated.

**Return Value:**
- The determinant of the input matrix `a`.

**Note:**
- The input matrix `a` must be square (i.e., have the same number of rows and columns).

Example:

In [ ]:
# 3x3 matrix
A = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

# Calculate the determinant
det_A = np.linalg.det(A)

print(det_A)

0.0

In this example, the determinant of the matrix `A` is computed and found to be `0.0`. Since the determinant is zero, the matrix `A` is singular, and it does not have an inverse.

### 3.3.5  Eigenvalues and Eigenvectors of a Square Matrix

In NumPy, to compute the eigenvalues and eigenvectors of a square matrix using the `numpy.linalg.eig()` function.

**Syntax:**
```
numpy.linalg.eig(a)
```

**Parameters:**
- `a`: The input square matrix for which the eigenvalues and eigenvectors are to be calculated.

**Return Value:**
- `eigenvalues`: An array containing the eigenvalues of the input matrix `a`.
- `eigenvectors`: An array containing the eigenvectors of the input matrix `a`. Each column in the array represents an eigenvector.

**Note:**
- The input matrix `a` must be square (i.e., have the same number of rows and columns).

Example 1: Eigenvalues and Eigenvectors of a 2x2 Matrix

In [ ]:
A = np.array([[2, -1], [4, 1]])

# Calculate the eigenvalues and eigenvectors
eigenvalues, eigenvectors = np.linalg.eig(A)

print("Eigenvalues:")
print(eigenvalues)

print("\nEigenvectors:")
print(eigenvectors)

Eigenvalues:
[1.5+1.93649167j 1.5-1.93649167j]

Eigenvectors:
[[0.1118034 +0.4330127j 0.1118034 -0.4330127j]
 [0.89442719+0.j        0.89442719-0.j       ]]

Example 2: Eigenvalues and Eigenvectors of a 3x3 Matrix

In [ ]:
# 3x3 matrix
B = np.array([[1, 2, 3], [0, 4, 5], [0, 0, 6]])

# Calculate the eigenvalues and eigenvectors
eigenvalues, eigenvectors = np.linalg.eig(B)

print("Eigenvalues:")
print(eigenvalues)

print("\nEigenvectors:")
print(eigenvectors)

Eigenvalues:
[1. 4. 6.]

Eigenvectors:
[[1.         0.5547002  0.51084069]
 [0.         0.83205029 0.79818857]
 [0.         0.         0.31927543]]

# OS Module

File handling using the `os` module in Python involves managing files and directories on the operating system level. The `os` module provides various functions to work with paths, create, delete, rename, move, copy, and manipulate files and directories.

**1. Getting the Current Working Directory:**

The current working directory is the directory where your Python script is currently executing. Use the `os.getcwd()` function to obtain this directory.

Example:
> ```python
> import os
>
> current_dir = os.getcwd()
> print("Current Directory:", current_dir)
> ```

**2. Changing the Current Working Directory:**

Use the `os.chdir()` function to change the current working directory to a different path.

Example:
> ```python
> new_dir = "/path/to/new_directory"
> os.chdir(new_dir)
> print("Current Directory changed to:", os.getcwd())
> ```

**3. Listing Files and Directories:**

The `os.listdir()` function allows to list the contents of a directory.

Example:
> ```python
> contents = os.listdir(current_dir)
> print("Contents of the Directory:", contents)
> ```

**4. Creating a Directory:**

Create a new directory using the `os.mkdir()` function. To create nested directories, use `os.makedirs()`.

Example:
> ```python
> new_dir = os.path.join(current_dir, "new_directory")
> os.mkdir(new_dir)
> print("New Directory created:", new_dir)
>
> nested_dirs = os.path.join(current_dir, "parent", "child") #/folder/file.ext
> os.makedirs(nested_dirs)
> print("Nested Directories created:", nested_dirs)
> ```

**5. Deleting a File or Directory:**

The `os.remove()` function deletes a file, while `os.rmdir()` removes an empty directory.

Example:
> ```python
> file_to_delete = "file_to_delete.txt"
> os.remove(file_to_delete)
> print("File deleted:", file_to_delete)
>
> empty_dir_to_delete = "empty_directory"
> os.rmdir(empty_dir_to_delete)
> print("Directory deleted:", empty_dir_to_delete)
> ```

**6. Renaming Files and Folders:**

Use the `os.rename()` function to rename files and folders.

Example:
> ```python
> old_file_name = "old_file.txt"
> new_file_name = "new_file.txt"
> os.rename(old_file_name, new_file_name)
> print("File renamed:", new_file_name)
>
> old_dir_name = "old_directory"
> new_dir_name = "new_directory"
> os.rename(old_dir_name, new_dir_name)
> print("Directory renamed:", new_dir_name)
> ```

**7. Moving Files and Directories:**

The `os.rename()` function can also be used to move files and directories.

Example:
> ```python
> source_file = "source_folder/source_file.txt"
> destination_file = "destination_folder/destination_file.txt"
> os.rename(source_file, destination_file)
> print("File moved:", destination_file)
> ```

**8. Getting File Properties:**

Use the `os.stat()` function to obtain information about a file's properties.

Example:
> ```python
> file_path = "file_to_get_properties.txt"
> file_properties = os.stat(file_path)
> print("File Properties:", file_properties)
> ```

**9. Copying Files and Directories:**

For copying files, can use `shutil.copy()`, and for directories, use `shutil.copytree()`.

Example:
> ```python
> import shutil
>
> source_file = "source_folder/source_file.txt"
> destination_file = "destination_folder/destination_file.txt"
> shutil.copy(source_file, destination_file)
> print("File copied:", destination_file)
>
> source_dir = "source_directory"
> destination_dir = "destination_directory"
> shutil.copytree(source_dir, destination_dir)
> print("Directory copied:", destination_dir)
> ```

**10. Checking File or Directory Existence:**

Use `os.path.exists()` to check if a file or directory exists.

Example:
> ```python
> file_path = "file_to_check.txt"
> if os.path.exists(file_path):
>     print(f"{file_path} exists")
> else:
>     print(f"{file_path} does not exist")
> ```

**11. Checking if a Path is a File or Directory:**

Use `os.path.isfile()` to check if a path points to a file, and `os.path.isdir()` for a directory.

Example:
> ```python
> path_to_check = "path_to_check"
> if os.path.isfile(path_to_check):
>     print(f"{path_to_check} is a file")
> elif os.path.isdir(path_to_check):
>     print(f"{path_to_check} is a directory")
> else:
>     print(f"{path_to_check} does not exist")
> ```

**12. Joining Paths:**

Use `os.path.join()` to join paths in a platform-independent way.

Example:
> ```python
> dir_name = "my_directory"
> file_name = "my_file.txt"
> file_path = os.path.join(dir_name, file_name)
> print("Joined Path:", file_path)
> ```

**13. Getting the Basename and Directory Name:**

Use `os.path.basename()` to get the basename and `os.path.dirname()` to get the directory name from a path.

Example:
> ```python
> path = "/path/to/my_file.txt"
> basename = os.path.basename(path)
> dirname = os.path.dirname(path)
> print("Basename:", basename)
> print("Directory Name:", dirname)
> ```

CSV module

Json Module

# **SymPy Module**

## **Basics**

Install Sympy

In [ ]:
# Install sympy if not already installed
!pip install sympy

Requirement already satisfied: sympy in /usr/local/lib/python3.10/dist-packages (1.12)
Requirement already satisfied: mpmath>=0.19 in /usr/local/lib/python3.10/dist-packages (from sympy) (1.3.0)

Import

In [ ]:
# Importing necessary libraries
from sympy import*

## **Symbols and Expressions:**

Syntax

In [ ]:
from sympy import symbols
# Define symbolic variables
x, y, z = symbols('x y z')

Examples

In [ ]:
from sympy import symbols, expand

# Define symbolic variables
x, y = symbols('x y')

# Create a symbolic expression
expr = (x + y)**2

# Expand the expression
expanded_expr = expand(expr)

print(f"Original expression: {expr}")
print(f"Expanded expression: {expanded_expr}")

Original expression: (x + y)**2
Expanded expression: x**2 + 2*x*y + y**2

## **Equation Solving:**

Syntax:

In [ ]:
from sympy import Eq, solve
# Define equations
equation = Eq(x**2 - 4, 0)
# Solve equations
solution = solve(equation, x)

Example

In [ ]:
from sympy import Eq, solve

# Define an equation
equation = Eq(x**2 - 4, 0)

# Solve the equation
solution = solve(equation, x)

print(f"Equation: {equation}")
print(f"Solutions: {solution}")

Equation: Eq(x**2 - 4, 0)
Solutions: [-2, 2]

## **Calculus:**

Syntax

> ```
> from sympy import integrate, diff, limit
>
> # Integration
> integral_result = integrate(expression, variable)
>
> # Differentiation
> derivative_result = diff(expression, variable)
>
> # Limits
> limit_result = limit(expression, variable, point)
> ```

Example

In [ ]:
from sympy import integrate, diff, limit, oo

# Integration
integral_result = integrate(x**2 + 2*x + 1, x)

# Differentiation
derivative_result = diff(x**3 + 3*x**2 + 2*x + 1, x)

# Limits
limit_result = limit(1/x, x, 0, dir='-')  # approaching 0 from the left

print(f"Integral: {integral_result}")
print(f"Derivative: {derivative_result}")
print(f"Limit: {limit_result}")

Integral: x**3/3 + x**2 + x
Derivative: 3*x**2 + 6*x + 2
Limit: -oo

## **Simplification:**

Syntaxes

> ```
> from sympy import simplify
>
> # Simplification
> simplified_expression = simplify(expression)
>
> ```

Example

In [ ]:
from sympy import simplify

# Simplification
expression_to_simplify = (x**2 + 2*x + 1)/(x + 1)
simplified_expression = simplify(expression_to_simplify)

print(f"Original expression: {expression_to_simplify}")
print(f"Simplified expression: {simplified_expression}")

Original expression: (x**2 + 2*x + 1)/(x + 1)
Simplified expression: x + 1

## **Matrices:**

Syntax:

> ```
> from sympy import Matrix
>
> # Define matrices
> A = Matrix([[1, 2], [3, 4]])
> B = Matrix([[5, 6], [7, 8]])
>
> # Matrix operations
> product_matrix = A * B
>
> ```

Example

In [ ]:
from sympy import Matrix

# Define matrices
A = Matrix([[1, 2], [3, 4]])
B = Matrix([[5, 6], [7, 8]])

# Matrix operations
product_matrix = A * B

print(f"Matrix A:\n{A}")
print(f"Matrix B:\n{B}")
print(f"Product of A and B:\n{product_matrix}")

Matrix A:
Matrix([[1, 2], [3, 4]])
Matrix B:
Matrix([[5, 6], [7, 8]])
Product of A and B:
Matrix([[19, 22], [43, 50]])